/* global */
:root {
  --primary-color:#7A9F35	;
  --text-color:#FFF0AA;
  --text-color-secondary:#D4C26A;
  --text-family:'Baloo 2', cursive;
  --text-family-secondary:'Montserrat', sans-serif;
  --bg-color: #D4EE9F ;
  --bg-card-color:#764B8E	;
  --transition: color 0.1s, background-color 0.2s, ease-in-out;
  --border-radius: 1em;
}

* {
  box-sizing: border-box!important;
}

body {
  margin: 0;
  background: linear-gradient(to right top, #260339, #411e53, #5d3a6f, #79578c, #9775aa);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: var(--text-color) !important;
  font-family: var(--text-family);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text-secondary{color:var(--text-color-secondary)!important;}

img{
  max-width: 100%;
}

/*estilos de a */
a {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

.col-lg-12{
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.imgcont{
  display: grid;
justify-content: center;
}
img{
  border-radius: 1em;

}
a:hover {
  color: var(--primary-color) !important;
}
/*estilos del header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
  border-bottom: 2px solid var(--primary-color);

}

.logobase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none !important;
  }

.logo__text {
  display: flex;
  align-items: center;
  padding: 20px;

}
/*
.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

.collapse{
   z-index: 99;


}

/*
.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;


.toggle-theme__icon {

  margin-right: 0.5em;

  width: 20px;
}

.toggle-theme__text{
  font-size: 0.8rem;
  padding-right: 0.3rem;
  padding-top: 0.8rem;
}

.colors{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100px;
}

.colors__item{
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
}
*/
.tittle{
  text-align: center;
  color: var(--primary-color);
  transition: var(--transition);
}


.footer{
  background: var(--bg-card-color);
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--text-color);
  border-radius: var(--border-radius)!important;
  border: 2px solid var(--primary-color)!important;
}

/*loader*/
.loader{
  width: 150px;
  height: 150px;
  border-left: 5px solid #ff006e;
  border-radius: 50%;
  animation: rightrotate 900ms linear infinite;
}

 .loader::before, .loader::after{
   content:'';
   width: 120px;
   display:block;
   position: absolute;
   top: calc(50% - 60px);
   left: calc(50% - 60px);
   border-right: 4px solid #3a86ff;
   border-radius: 50%;
   animation: leftrotate 900ms linear infinite;
 }

 .loader::after{
   width: 90px;
   height: 90px;
   top:calc(50% - 45px);
   left: calc(50% - 45px);
   border: 0;
   border-left: 3px solid #ffbe0b;
   animation:none;
 }

 @keyframes leftrotate {
   from{
     transform: rotate(0deg);
   }
   to {
     transform: rotate(720deg);
   }
 }

 @keyframes rightrotate {
   from { transform:rotate(360deg);}
   to { transform:rotate(0deg);}
 }


/*estilos del navbar */
.navbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 38px !important;
  padding: 0 1.5em !important;
  background-color: var(--bg-card-color) !important;
  transition: var(--transition) !important;
  font-family: var(--text-family-secondary);

}

.nav-link:hover {
  border-bottom-color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  transition: var(--transition) !important;
}

.navbar-toggler{
 /* z-index: 2!important;*/
  border: 1px solid  var(--primary-color)!important;
  background-color: var(--bg-card-color) !important;
  transition: var(--transition) !important;
}


.btns{
  display: flex;
  justify-content: end;
}


/*estilos de las cards */
.card{
  padding: 1em!important;
  background-color: var(--bg-card-color)!important;
  border-radius: var(--border-radius)!important;
  border: 2px solid var(--primary-color)!important;
  /*box-shadow: 0px 5px 10px 5px #a5cfe8;*/
}

h5{
  border-bottom: 2px solid var(--primary-color);
}

.container{
padding-right: var(--bs-gutter-x,5rem);
padding-left: var(--bs-gutter-x,5rem);
}


.btn{
  background-color:#9775AA ;
  border: 2px solid  !important;
  border-radius: var(--border-radius)!important;
  color: var(--text-color)!important;
}

.btn-outline-success:hover {
  color: var(--text-color)!important;
  background-color:#9775AA!important;
  border: 2px solid #FFF0AA!important;

}
/*
.btn-success {
  color: #fff;
  background-color: #3f1987;
  border-color: #198754;
}*/


