<!--<app-loader></app-loader>-->
<app-header></app-header>
<div class="navbar">
  <app-navbar></app-navbar>
</div>

<main class="container" id="main-container">

    <!--contenedor persona-->

        <app-person></app-person>

   <!--fin contenedor persona-->
   <!--contenedor educacion y experiencia-->

          <app-education></app-education>
          <app-experience></app-experience>

  <!--fin contenedor educacion y experiencia-->
<app-project></app-project>
    <app-skill></app-skill>
    <app-soft></app-soft>

</main>
