<!--<p>login works!</p>-->
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <div class="card rounded-3" style="background-color: #103f5a">
    Estas Logueado
  </div>
</div>

<ng-template #loggedOut>
  <app-loader></app-loader>
  <div class="containerlog">
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <div>
        <h1>Login</h1>
      </div>

      <div>
        <div class="input">
          <label for="nameUser">Usuario</label>
          <input
            type="text"
            name="nameUser"
            id="nameUser"
            [(ngModel)]="nameUser"
            required
          />
        </div>
      </div>

      <div class="input">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="password"
          required
        />
      </div>

      <button [disabled]="!f.valid">
        <p>Login</p>
      </button>
    </form>

    <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">
      Fail LOGIN: {{ errMsj }}
    </div>
  </div>
</ng-template>
