.card{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgskill{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.mt-n2 {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
